$txt-color: #fff;
$a-before-after:#337ab7;
$navbar-btn-color:#f36969;
$navbar-btn-color-1:rgba(243,105,105,1);
$bg-color:hsla(200,40%,30%,0.4);
$main-color: #353b4a;
$second-color: #23c0e9;
$font-color: #9b9b9b;


.euro-footer{
	position: relative;
	padding: 0;
	height: auto;
	width: 100%;
	bottom: 0;
	left: 0;
	margin-top: 10px;
	background-image: url(../Image/footer_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;


	.row{
		background-color:$bg-color;
		position: relative;
		width: 100%;
		height: auto;
		padding-left: 50px;
		margin: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		padding-top: 35px;

		.euro-footer-about{
			position: relative;
			display: flex;
			text-align: center;
			align-items: flex-start;
			flex-flow: column nowrap;
			height: 300px;
			margin-bottom: 50px;
			margin-bottom: 20px;
			

			.euro-footer-about-title{
				position: relative;
				display: flex;
				height: 40px;
				width: 100%;
				font-size: 30px;
				
				font-weight: 600;
				align-items: flex-start;
				text-align: start;
				
				
				
			}

			.euro-footer-about-text{
				padding-top: 10px;
				position: relative;
				display: flex;
				text-align: justify;
				height: 150px;
				overflow: hidden;
				width: 220px;

				&::after{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					height: 2px;
					width: 160px;
					background-color: black;
				}
				
			}


			.euro-footer-read-more{
				position: relative;
				
				width: 100px;
				height: 30px;
				text-align: center;
				background-color: white;
				color: black;
				text-decoration: none;
				transition: all 0.6s linear;


				&:hover{
					background-color: aqua;
				}
			}
		}


		.euro-footer-menu{
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			height: 300px;
			padding: 0;
			padding-left: 15px;
			margin-bottom: 20px;

			.euro-footer-menu-title{
				position: relative;
				height: 50px;
				width: 100%;
				padding: 10px;
				padding-left: 0;
				padding-top: 0px;
				font-size: 30px;
				font-weight: 600;
				align-items: flex-start;
				text-align: start;
				
	
				&::after{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 2px;
					width: 160px;
					background-color: black;
				}
				
			}

			.euro-footer-menu-link{
				width: 220px;
				height: 40px;
				padding: 10px 15px;
				text-decoration: none;
				color: black;
				transition: all 0.6s linear;


				&:hover{
					background-color: aqua;
				}

			}

			.footer-active-link{
				background-color: antiquewhite;
			}
		}


		.euro-footer-sticker{
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			height: 300px;
			margin-bottom: 20px;


			.euro-footer-sticker-title{
				position: relative;
				height: 50px;
				width: 100%;
				padding: 10px;
				padding-left: 0;
				padding-top: 0;
				font-size: 30px;
				font-weight: 600;
				align-items: flex-start;
				text-align: start;
				&::after{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 2px;
					width: 160px;
					background-color: black;
				}
			}


			.euro-footer-sticker-link{
				width: 220px;
				height: 40px;
				padding: 10px 15px;
				text-decoration: none;
				color: black;
				transition: all 0.6s linear;


				&:hover{
					background-color: aqua;
				}
			}
		}
	}
}