$txt-color: #fff;
$a-before-after:#337ab7;
$navbar-btn-color:#f36969;
$navbar-btn-color-1:rgba(243,105,105,1);
$bg-color:hsla(200,40%,30%,0.4);
$main-color: #353b4a;
$second-color: #23c0e9;
$second-color_:rgba(35,192,233,1);
$font-color: #9b9b9b;