$txt-color: #fff;
$a-before-after:#337ab7;
$navbar-btn-color:#f36969;
$navbar-btn-color-1:rgba(243,105,105,1);
$bg-color:hsla(200,40%,30%,0.4);
$main-color: #353b4a;
$second-color: #23c0e9;
$second-color_:rgba(35,192,233,1);
$font-color: #9b9b9b;


.euro-header-body{
	position: relative;
	padding: 20px 40px;
	z-index:16;
	width: 850px;
	align-items: center;
	color: white;
	margin: auto;
	margin-top: 70px;

	.header-body-title{
		width: 100%;
		font-size: 65px;
		margin-bottom: 25px;

		span{
			color: #23c0e9;
		}
	}


	.header-body-text{
		width: 100%;
		color: grey;
		margin-bottom: 45px;
		font-size: 16px;
	}

	.euro-header-body-form{
		width: 800px;
		display: flex;
		flex-flow: row wrap;
		margin: auto;
		background-color: rgba(255,255,255,0.2);

		.euro-header-body-search{
			padding: 6px;
			width: 250px;
			border: none;
			outline: none;
			margin-right: 5px;
			background-color: transparent;
			border-bottom: 2px solid black;
			color: wheat;
		}

		::-webkit-input-placeholder{
			color: white;
			font-size: 16px;
		}


		.euro-header-body-location{
			width: 149px;
			padding: 8px ;
			padding-right: 13px;
			border: none;
			outline: none;
			font-size: 14px;
			margin-right: 5px;
			background-color: transparent;
			border-bottom: 2px solid black;
			color: white;
			
			option{
				color: black;
			}

		}

		.euro-header-body-experience{
			width: 120px;
			padding: 8px ;
			padding-right: 15px;
			font-size: 14px;
			border: none;
			outline: none;
			margin-right: 5px;
			background-color: transparent;
			border-bottom: 2px solid black;
			color: white;
			
			option{
				color: black;
			}
		}

		.euro-header-body-submit{
			width: 90px;
			padding: 8px ;
			padding-right: 15px;
			font-size: 14px;
			border: none;
			outline: none;
			margin-right: 5px;
			background-color: transparent;
			border-bottom: 2px solid black;
			color: white;
		}
	}

	.header-body-keys{

		display: flex;
		flex-flow: row wrap;
		margin-top: 15px;
		align-items: center;

		i{
			margin-right: 10px;
		}


		.header-body-link-job{
			margin-left: 10px;
			text-decoration: none;
			color: #9b9b9b;

			&:hover{
				color: #23c0e9;
			}
		}
	}
}


@media (max-width:1000px){
	.euro-header-body{
		width: 100%;
		top: 0;
		padding: 20px 40px;
		
		.header-body-title{
			font-size: 35px;
		}

		.euro-header-body-form{
			position: relative;
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			
			justify-content: center;
			

			.euro-header-body-search{
				width: 100%;
				margin: 0;
				margin-bottom: 15px;
				
			}


			.euro-header-body-location{
				width: 100%;
				margin: 0;
				margin-bottom: 15px;
				

			
			}

			.euro-header-body-experience{
				width: 100%;
				margin: 0;
				margin-bottom: 15px;
				
			}

			.euro-header-body-submit{
				margin-top: 15px;
				width: 50%;
				border: 2px solid black;
			}
		}
	}
}



@media (max-width:435px){
	.euro-header-body{
		padding: 20px;

		.header-body-title{
			margin-bottom: 15px;
			background-color: #f36969;
		}
	}
}