$txt-color: #fff;
$a-before-after:#337ab7;
$navbar-btn-color:#f36969;
$navbar-btn-color-1:rgba(243,105,105,1);
$bg-color:hsla(200,40%,30%,0.4);
$main-color: #353b4a;
$second-color: #23c0e9;
$second-color_:rgba(35,192,233,1);
$font-color: #9b9b9b;


.euro-header-body{
	position: absolute;
	padding: 20px 60px;
	z-index:16;
	width: 900px;
	top: 30%;
	left: 30%;
	transform: translate(-30%,-30%);
	align-items: center;
	color: white;

	.header-body-title{
		width: 100%;
		font-size: 65px;
	}


	.header-body-text{
		width: 100%;
		color: grey;
		margin-bottom: 45px;
	}

	form{
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		
		padding: 40px;
		background-color: rgba(255,255,255,0.2);

		.euro-header-body-search{
			padding: 8px;
			width: 300px;
			border: none;
			outline: none;
			margin-right: 5px;
			background-color: transparent;
			border-bottom: 2px solid black;
			color: wheat;
		}


		.euro-header-body-location{
			padding: 8px ;
			padding-right: 15px;
			border: none;
			outline: none;
			margin-right: 5px;
			background-color: transparent;
			border-bottom: 2px solid black;

		}

		.euro-header-body-experience{
			padding: 8px ;
			padding-right: 15px;
			border: none;
			outline: none;
			margin-right: 5px;
			background-color: transparent;
			border-bottom: 2px solid black;
		}

		.euro-header-body-submit{
			padding: 8px ;
			padding-right: 15px;
			border: none;
			outline: none;
			margin-right: 5px;
			background-color: transparent;
			border-bottom: 2px solid black;
		}
	}

	.header-body-keys{

		display: flex;
		flex-flow: row wrap;
		margin-top: 15px;

		i{
			margin-right: 10px;
		}

		h6{

		}

		.header-body-link-job{
			margin-left: 10px;
			text-decoration: none;
			color: #9b9b9b;

			&:hover{
				color: #23c0e9;
			}
		}
	}
}