@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,900&display=swap');

$bgcolor:rgba(205, 217, 222,1.0);
$txtcolor:rgba(245, 246, 250,1.0);
$bgLightGrey:rgba(220, 221, 225,1.0);
$bgcolor-2:rgba(39, 60, 117,1);



*{
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}


body{
	box-sizing: border-box;
}



/* == Home Style start*/
.home{
	padding: 0;
	margin: 0;
	max-width: 1536px;
	box-sizing: border-box;
}
/* == Home Style end*/



/* == Navbar Style start*/
.euro-navbar{
	position: fixed;
	width: 100%;
	height: 90px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	background-color:$bgcolor;
	color: $txtcolor;
	align-items: center;
	padding: 20px 60px 20px 60px;
	z-index: 99;

	.euro-brand{
		cursor: pointer;

		a{
			text-decoration: none;


			img{
				width: 140px;
				height: 110px;
				
			}
		}
	}

	.euro-button{
		max-width: 190px;
		display: flex;
		flex-flow: row nowrap;
		
		.euro-dropdown{
			margin-right: 11px;
			top: 15px;
			height: 40px;
			border-radius: 5px;
			box-shadow:  -5px 5px 10px #9fa2a6,
					   5px -5px 10px #d7dbe0;
			z-index: 200;
			
			.dropdown-button{
				background-color: transparent;
				

				img{
					width: 25px;
					height: 25px;
				}
			}


			.euro-dropdown-menu{
				background-color: $bgcolor-2;
				display: flex;
				

				.euro-dropdown-item{
					padding: 0;
					align-items: center;
					padding: 5px;
					z-index: 100;
					
					img{
						display: flex;
						width: 25px;
						height: 25px;
						align-self: center;
					}
				}
			}
		}

		.add-cv{
			padding: 0;
			width: 55px;
			height: 55px;
			background-color: transparent;
			border: none;
			border-radius: 0px;
			box-shadow:  -5px 5px 10px #9fa2a6,
			             5px -5px 10px #d7dbe0;

			img{
				width: 55px;
				height: 55px;
			}

		}
	}

}


.menu-icon{
	position: fixed;
	left: 0;
	top: 90px;
	width: 180px;
	height: 40px;
	padding: 10px 15px;
	background-color: $bgcolor-2;
	color: $txtcolor;
	z-index: 99;
	
	h6{
		text-align: center;
		display: flex;
		justify-content: space-around;
		font-weight: 900;
		transition: all 0.5s ease;

		#left{
			display: none;
			cursor: pointer;

		}

		#right{
			cursor: pointer;
		}
	}
}


.menu-items{
	position: fixed;
	height: 300px;
	width: 180px;
	left: -100%;
	top: 121px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	text-align: center;
	background-color: $bgcolor-2;
	transition: all 0.5s ease;
	z-index: 99;

	.euro-item-link{
		color: $txtcolor;
		text-decoration: none;
	}

}
/* == Navbar Style end*/



/* == Navbar Style start*/
.euro-header{
	position: relative;
	top: 90px;
	width: 100%;
	height: 600px;
	background-color: $bgcolor;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	.euro-title{
		position: relative;
		font-weight: 900;
		font-size: 60px;
		height: 100px;
		padding: 15px;
		top: 150px;
		color: $bgcolor-2;
		box-shadow: inset -5px 5px 10px #9fa2a6,
            		inset 5px -5px 10px #d7dbe0

	}

	.header_image_1{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.header_image_2{
		max-width: 500px;
		max-height: 400px;
	}
}
/* == Header Style end*/



@media (max-width:998px){

	.euro-header{
		height: 500px;
		.euro-title{
			position: relative;
			font-weight: 900;
			font-size: 40px;
			height: 70px;
			padding: 10px;
			
		}
		.header_image_1{
		}
		.header_image_2{
			max-width: 400px;
			max-height: 300px;
		}
	}
}


@media (max-width:750px){
	.euro-header{
		height: 400px;

		.euro-title{
			position: relative;
			font-weight: 900;
			font-size: 30px;
			height: 60px;
			padding: 10px;
			
		}
		.header_image_1{
		}
		.header_image_2{
			position: relative;
			top: 35px;
			max-width: 300px;
			max-height: 200px;
		}
	}


	.euro-navbar{
		padding: 10px 20px;
		.euro-brand{
			
			a{
				
				img{
					width: 110px;
					height: 80px;

				}
			}
		}

		.euro-button{
			
		
			

			.euro-dropdown{
				

				.dropdown-button{
					
					
				}
				.euro-dropdown-menu{
					
					.euro-dropdown-item{
						

						img{
							
							
							
						}
					}
				}
			}
			.add-cv{
				
				
				

			}
		}
	}


}


@media (max-width:530px){
		.euro-header{
			height: 240px;

			.euro-title{
				position: relative;
				font-weight: 900;
				font-size: 30px;
				top: 45px;
				height: 60px;
				padding: 10px;

			}
			.header_image_2{
				display: none;
			}
		}


		.euro-navbar{
			
			.euro-brand{

				a{

					img{
						width: 110px;
						height: 80px;
					}
				}
			}
			.euro-button{
				
			

				.euro-dropdown{

					.dropdown-button{
						

					}
					.euro-dropdown-menu{

						.euro-dropdown-item{
							
							img{
								width: 15px;
								height: 15px;
								margin-right: 5px;
							}
						}
					}
				}
			
			
			}
		}


}

@media (max-width:530px){
	.euro-navbar{
		
		.euro-brand{
			
			a{
				
				img{
					width: 100px;
					height: 80px;
				}
			}
		}
		.euro-button{
			
		
			
			.euro-dropdown{
				top: 0;
				.dropdown-button{
					
					
				}
				.euro-dropdown-menu{
					min-width: 60px;
					flex-direction: column;

					.euro-dropdown-item{
						
						img{
							
							width: 20px;
							height: 20px;
							
						}
					}
				}
			}
			.add-cv{
				width: 35px;
				height: 35px;
				img{
					width: 35px;
					height: 35px;
				}
				
			}
		}
	}
}



